html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

/*// // ul {
// //     margin: 0;
// //     padding-left: 0;
// // }

// // li {
// //     display: list-item;
// // }*/

button {
    cursor: pointer;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}